.footer {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-foot {
    margin-left: 60px;
    margin-right: 30px;
    height: 240px;
    width: 50%;

}

.right-foot {
    margin-right: 150px;
    height: 240px;
    width: 20%;

}

.top-l-f {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-left: 92px;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

.down-l-f {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 10px;
    margin-left: 158px;
}

.process1 {
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: rgba(231, 0, 195, 1);
    box-shadow: rgba(231, 0, 195, 1) 0px 7px 29px 0px;
    margin-top: 5px;
    opacity: 1;
}

.process2 {
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: rgba(231, 0, 195, 1);
    box-shadow: rgba(231, 0, 195, 1) 0px 7px 29px 0px;
    margin-top: 5px;
    opacity: 0.9;
}

.process3 {
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: rgba(231, 0, 195, 1);
    margin-top: 5px;
    opacity: 0.8;
}

.process4 {
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: rgba(231, 0, 195, 1);
    margin-top: 5px;
    opacity: 0.7;
}

.process5 {
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: rgba(231, 0, 195, 1);
    margin-top: 5px;
    opacity: 0.6;
}

.process6 {
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: rgba(231, 0, 195, 1);
    margin-top: 5px;
    opacity: 0.5;

}

.process7 {
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: rgba(231, 0, 195, 1);
    margin-top: 5px;
    opacity: 0.4;

}

.process8 {
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: rgba(231, 0, 195, 1);
    margin-top: 5px;
    opacity: 0.3;

}

.process9 {
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: rgba(231, 0, 195, 1);
    margin-top: 5px;
    opacity: 0.2;

}

.process10 {
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color: rgba(231, 0, 195, 1);
    margin-top: 5px;
    opacity: 0.1;

}

.up-right-foot {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-top: 20px;

}

.phone {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgba(231, 0, 195, 1);
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;

}

.mp{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phn-num{
    display: none;
    height: 30px;
    padding: 0px 3px;
    margin-top: 15px;
    margin-left: -53px;
    border-radius: 2px;
    width: 133px;
    background-color: rgba(231, 0, 195, 1);
    border: 2px solid white;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}
.phone:hover .phn-num{
    display: block;
}

.phn-num:hover{
    z-index: 2;
}

.phone:hover {
    transform: scale(1.1);

}

.phone-icon {
    color: white;
    height: 20px;
    width: 20px;
}

.email {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgba(231, 0, 195, 1);
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;

}


.e-add{
    display: none;
    height: 30px;
    padding: 0px 3px;
    margin-top: 15px;
    margin-left: -53px;
    border-radius: 2px;
    width: 192px;
    background-color: rgba(231, 0, 195, 1);
    border: 2px solid white;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}
.em{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email:hover .e-add{
    display: block;
}

.e-add:hover{
    z-index: 2;
}

.email-icon {
    color: white;
    height: 20px;
    width: 20px;
}

.email:hover {
    transform: scale(1.1);

}

.facebook {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgba(231, 0, 195, 1);
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;

}
.f{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fbok{
    display: none;
    height: 30px;
    padding: 0px 3px;
    margin-top: 15px;
    margin-left: -30px;
    border-radius: 2px;
    width: 86px;
    background-color: rgba(231, 0, 195, 1);
    border: 2px solid white;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

.facebook:hover .fbok{
    display: block;
}

.fbok:hover{
    z-index: 2;
}

.facebook:hover {
    transform: scale(1.1);

}

.facebook-icon {
    color: white;
    height: 20px;
    width: 20px;
}

.down-right-foot {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-top: 30px;

}

.linkd-in {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgba(231, 0, 195, 1);
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;

}
.lin{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkin{
    display: none;
    height: 30px;
    padding: 0px 3px;
    margin-top: 15px;
    margin-left: -30px;
    border-radius: 2px;
    width: 86px;
    background-color: rgba(231, 0, 195, 1);
    border: 2px solid white;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

.linkd-in:hover .linkin{
    display: block;
}

.linkin:hover{
    z-index: 2;
}

.linkd-in-icon {
    color: white;
    height: 20px;
    width: 20px;
}

.linkd-in:hover {
    transform: scale(1.1);

}

.insta {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgba(231, 0, 195, 1);
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;

}
.ing{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ingram{
    display: none;
    height: 30px;
    padding: 0px 3px;
    margin-top: 15px;
    margin-left: -30px;
    border-radius: 2px;
    width: 139px;
    background-color: rgba(231, 0, 195, 1);
    border: 2px solid white;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

.insta:hover .ingram{
    display: block;
}

.ingram:hover{
    z-index: 2;
}

.insta:hover {
    transform: scale(1.1);

}

.insta-icon {
    color: white;
    height: 20px;
    width: 20px;
}

.telegram {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgba(231, 0, 195, 1);
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;

}

.t{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tgram{
    display: none;
    height: 30px;
    padding: 0px 3px;
    margin-top: 15px;
    margin-left: -30px;
    border-radius: 2px;
    width: 100px;
    background-color: rgba(231, 0, 195, 1);
    border: 2px solid white;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

.telegram:hover .tgram{
    display: block;
}

.tgram:hover{
    z-index: 2;
}

.telegram:hover {
    transform: scale(1.2);

}

.telegram-icon {
    color: white;
    height: 20px;
    width: 20px;
}

.end-foot {
    display: flex;
    border-top: 2px solid white;
    width: 85%;
    margin: auto;
    font-family: 'Trebuchet MS', sans-serif;
    justify-content: space-between;
}

.name-at-last {
    color: white;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 8px;
}

.name-at-last:hover{
    color: #00d4ff;
    position: relative;
    transition: color 0.3s;
    margin-bottom: 10px;
}

.name-at-last::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #00d4ff;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.name-at-last:hover::after {
    width: 100%;
}


.links-at-last {
    color: white;
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    width: 442px;
    margin-top: 10px;
}
.projects-link{
    color: white;
    position: relative;
    transition: color 0.3s;
    margin-bottom: 10px;
}
.projects-link:hover {
    color: #00d4ff;
    cursor: pointer;

}

.projects-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #00d4ff;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.projects-link:hover::after {
    width: 100%;
}

.edu-link{
    color: white;
    position: relative;
    transition: color 0.3s;
    margin-bottom: 10px;
}

.edu-link:hover {
    color:  #00d4ff;
    cursor: pointer;
}

.edu-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #00d4ff;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.edu-link:hover::after {
    width: 100%;
}

.contact-link{
    color: white;
    position: relative;
    transition: color 0.3s;
    margin-bottom: 10px;
}

.contact-link:hover {
    color:  #00d4ff;
    cursor: pointer;
}
.contact-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #00d4ff;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.contact-link:hover::after {
    width: 100%;
}