.project-main {
    margin-top: 80px;
}

.heading-projects {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.projct{
  height: fit-content;
  width: 100%;
}

.project1{
  text-align: center;
  justify-content: center;
  color: white;
  margin-top: 75px;
  font-size: 35px;
  font-family: 'Trebuchet MS', sans-serif;

}
.projecth{
  text-align: center;
  justify-content: center;
  color: white;
  margin-top: 25px;
  font-size: 35px;
  font-family: 'Trebuchet MS', sans-serif;

}

.images-of-project{
  height: 379px;
  width: 790px;
  padding: 4px;
  background-color: black;
  margin: 30px auto 0px;
  box-shadow: rgba(255, 255, 255, 0.299) 0px 5px 15px;

}

.img-of-p{
  height: 100%;
  width: 100%;
}

.about-project{
  height: 303px;
  margin: 50px auto 0px;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  
}

.left-ab{
height: 300px;
width: 45%;
margin-left: 50px;
text-align: justify;
font-family: 'Trebuchet MS', sans-serif;

}

.left-ab h2{
  text-align: center;
  margin-bottom: 20px;
}

.left-ab span{
  font-weight: bold;
}

.afterspan
{
  margin-top: 20px;
}

.right-ab{
height: 300px;
width: 42%;
text-align: justify;
font-family: 'Trebuchet MS', sans-serif;
margin-right: 50px;
}
.right-ab h2{
  text-align: center;
  margin-bottom: 20px;
}

.right-ab span{
  font-weight: bold;
}



/* project 2 */

.images-of-project2{
  height: 379px;
  width: 790px;
  padding: 4px;
  background-color: black;
  margin: 30px auto 0px;
}

.about-project2{
  height: 303px;
  margin: 60px auto;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.left-ab2{
  height: 300px;
  width: 45%;
  margin-left: 50px;
  text-align: justify;
  font-family: 'Trebuchet MS', sans-serif;
  margin-bottom: 50px;
  
  }
  
  .left-ab2 h2{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .left-ab2 span{
    font-weight: bold;
  }
  
  .afterspan2
  {
    margin-top: 20px;
  }
  
  .right-ab2{
  height: 300px;
  width: 42%;
  text-align: justify;
  font-family: 'Trebuchet MS', sans-serif;
  margin-right: 50px;
  margin-bottom: 50px;
  }
  .right-ab2 h2{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .right-ab2 span{
    font-weight: bold;
  }

/* project 3 */

.images-of-project3{
  height: 344px;
  width: 790px;
  padding: 4px;
  background-color: black;
  margin: 30px auto 0px;


}

.about-project3{
  height: 450px;
  margin-top: 50px;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}


.left-ab3{
  height: 300px;
  width: 45%;
  margin-left: 50px;
  text-align: justify;
  font-family: 'Trebuchet MS', sans-serif;
  
  }
  
  .left-ab3 h2{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .left-ab3 span{
    font-weight: bold;
  }
  
  .afterspan3
  {
    margin-top: 20px;
  }
  
  .right-ab3{
  height: 300px;
  width: 42%;
  text-align: justify;
  font-family: 'Trebuchet MS', sans-serif;
  margin-right: 50px;
  }
  .right-ab3 h2{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .right-ab3 span{
    font-weight: bold;
  }



/* project 4 */

.images-of-project4{
  height: 344px;
  width: 790px;
  padding: 4px;
  background-color: black;
  margin: 30px auto 0px;

}

.about-project4{
  height: 650px;
  margin-top: 50px;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}


.left-ab4{
  height: 300px;
  width: 45%;
  margin-left: 50px;
  text-align: justify;
  font-family: 'Trebuchet MS', sans-serif;
  
  }
  
  .left-ab4 h2{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .left-ab4 span{
    font-weight: bold;
  }
  
  .afterspan4
  {
    margin-top: 20px;
  }
  
  .right-ab4{
  height: 300px;
  width: 42%;
  text-align: justify;
  font-family: 'Trebuchet MS', sans-serif;
  margin-right: 50px;
  }
  .right-ab4 h2{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .right-ab4 span{
    font-weight: bold;
  }